{% load i18n static %}

<!DOCTYPE html>
{% comment %} {% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %} {% endcomment %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static "authentication/css/style.css" %}">
{% comment %} {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %} {% endcomment %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    {% comment %} {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %} {% endcomment %}
{% endblock %}
<!-- JavaScript -->
{% block extrascript %} {% endblock %}

</head>
{% load i18n %}

<body id="body" class="">

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div class="position: fixed; top: 0; right: 0; left: 0; z-index: 1030;">
        {% include "authentication/header.html" %}
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" style="background-color: rgb(23, 104, 145); height:100%; display:flex; padding-top:30px;">
        {% block content %}
        {% endblock %}
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer">{% include "authentication/footer.html" %}</div>
</div>
<!-- END Container -->

</body>
</html>