{% load static %}
<div class="d-flex justify-content-start" 
        style="position: relative; padding: 0 1rem 0 1rem; height: 60px;">
    <a href="https://ec.europa.eu/info/index_en" style="margin-top: 15px; margin-right: 1rem;">
        <img src="{% static "authentication/img/european_commission.svg" %}" style="height: 64px; display: block;">
    </a>
    <a href="/" id="header-title" 
        class="d-flex justify-content-start align-items-center text-decoration-none"
        style="height: 100%; color: black;">
        <img id="logo" src="{% static "authentication/img/logo.svg" %}" style="height: 60%; margin: 0 1rem 0 1rem;">
        <h1 class="font-family" style="margin: 0; margin-right: 16px;display: block; font-weight: 500 !important;">FaST</h1>
        <div class="font-family" style="padding-left: 16px; font-size: 1.5vw; font-weight: 100 !important; border-left: 1px solid silver;">{% trans 'EU Space Data for Sustainable Farming' %}</div>
    </a>
</div>
