{% extends "admin/base_site.html" %}
{% load custom_tags static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{{ consent_request.title }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "authentication/css/terms_and_conditions.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} terms-and-conditionqs{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
{% trans "A new document or policy needs your attention" %}
</div>
{% endblock %}

{% block content %}
<h1>{% as_i18n consent_request "title" LANGUAGE_CODE %}</h1>
<div id="content-main">
    {% if consent_request.short_description %}
        <p>{% as_i18n consent_request "short_description" LANGUAGE_CODE %}</p>
    {% endif %}
    {% if consent_request.url %}
        <p>
            <a href="{% as_i18n consent_request "url" LANGUAGE_CODE %}" target="_blank">{% as_i18n consent_request "url" LANGUAGE_CODE %</a>
        </p>
    {% endif %}
    {% if consent_request.html_content %}
        <div class="terms-html-content">
            {% as_i18n consent_request "html_content" LANGUAGE_CODE %}
        </div>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="submit-row">
            <input type="submit" name="agree" class="default" value="{% trans "I agree" %}" />
        </div>
        <div style="width: 100%; margin-top: 40px; text-align: center;">
            {% trans 'Wrong user?' %} <a href="{% url 'authentication:logout' %}{% if request.GET.next %}?next={{ request.GET.next|as_absolute_url:request|urlencode }}{% endif %}">{% blocktrans %}Log out</a> and log in with a different user.{% endblocktrans %}
          </div>
    </form>
</div>
{% endblock %}

{% block sidebar %}
{% comment %} <div id="content-related">
    <div class="module toc">
        <h2>{% trans 'Table of contents' %}</h2>
        {{ markdown_toc }}
    </div>
</div> {% endcomment %}
{% endblock %}