{% extends "admin/base_site.html" %}
{% load custom_tags static i18n %}

{% block title %}{% if page_title %}{{ page_title }}{% endif %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "docs/css/docs.css" %}">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
<a href="{% url 'docs:index' %}">{% trans 'Documentation' %}</a> &rsaquo;
<span>{% trans 'Search results' %}</span>
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>{% trans 'Search results for' %} <b>{{ q }}</b></h1>
    {% if results %}
    <ul>
        {% for result in results %}
        <li>
            <a href="{{ result.url }}">{{ result.title }}</a><br>
            <p>{{ result.highlights|safe }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p style="color: grey">{% trans "No result were found in the current language." %}</p>
    {% endif %}
    {% if results_other_languages %}
    <hr>
    <p class="margin-top: 20px;">{% trans "We found results in other languages:" %}</p>
    <ul>
        {% for result in results_other_languages %}
        <li>
            <a href="{{ result.url }}">{{ result.title }}</a>&nbsp;<small>[{{ result.language_name }}]</small><br>
            <p>{{ result.highlights|safe }}</p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}

{% block sidebar %}
    {% include "docs/sidebar.html" %}
{% endblock %}