html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
    margin: 0;
    padding: 0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #233644;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.9rem;
    font-size: 0.9rem;
    line-height: 1.5;
    border-radius: 0.15rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #176891;
    border-color: #176891;
}

.btn-danger {
    color: #fff;
    background-color: red;
    border-color: red;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(16,17,17,0.05);
    border-radius: 6px;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(16,17,17,0.15) !important;
}

.text-center {
    text-align: center !important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.8rem;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-start {
    justify-content: flex-start !important;
}
.d-flex {
    display: flex !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.font-family {
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.connector-button {
    /* position: relative; */
    border: 1px black solid;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    min-width: 180px;
} 

.connector-button-positive {

}

.connector-button-rounded {
    border-radius: 4px;
    margin: 16px;
}

.connector-button-size-medium {
    font-size: 16px;
    height: 48px;
    padding: 12px 24px;
}