{% extends "admin/base_site.html" %}
{% load custom_tags static i18n %}

{% block title %}{% if page_title %}{{ page_title }}{% endif %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "add_ons/css/graphiql.min.css" %}">
{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
    #content {
        width: 100% !important;
        padding: 0 !important;
    }

    #graphiql {
        height: calc(100vh - 60px - 36px);
    }

</style>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script type="text/javascript" src="{% static "add_ons/js/graphiql.min.js" %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url "admin:index" %}">{% trans "Home" %}</a>
    &rsaquo;
    <a href="{% url "admin:add_ons_apiaccess_changelist" %}">API Access</a>
    &rsaquo;
    <span>Playground</span>
</div>
{% endblock %}

{% block content %}
<div id="graphiql"></div>

<script>
// Parse the search string to get url parameters.
var search = window.location.search;
var parameters = {};
search
  .substr(1)
  .split('&')
  .forEach(function (entry) {
    var eq = entry.indexOf('=');
    if (eq >= 0) {
      parameters[decodeURIComponent(entry.slice(0, eq))] = decodeURIComponent(
        entry.slice(eq + 1),
      );
    }
  });

// If variables was provided, try to format it.
if (parameters.variables) {
  try {
    parameters.variables = JSON.stringify(
      JSON.parse(parameters.variables),
      null,
      2,
    );
  } catch (e) {
    // Do nothing, we want to display the invalid JSON as a string, rather
    // than present an error.
  }
}

// If headers was provided, try to format it.
if (parameters.headers) {
  try {
    parameters.headers = JSON.stringify(
      {
        ...JSON.parse(parameters.headers),
        Authorization: "ApiKey {{ api_key }}"
      },
      null,
      2,
    );
  } catch (e) {
    // Do nothing, we want to display the invalid JSON as a string, rather
    // than present an error.
  }
} else {
  parameters.headers = JSON.stringify(
    {
      Authorization: "ApiKey {{ api_key }}"
    },
    null,
    2
  )
}

// When the query and variables string is edited, update the URL bar so
// that it can be easily shared.
function onEditQuery(newQuery) {
  parameters.query = newQuery;
  updateURL();
}

function onEditVariables(newVariables) {
  parameters.variables = newVariables;
  updateURL();
}

function onEditHeaders(newHeaders) {
  parameters.headers = newHeaders;
  updateURL();
}

function onEditOperationName(newOperationName) {
  parameters.operationName = newOperationName;
  updateURL();
}

function updateURL() {
  var newSearch =
    '?' +
    Object.keys(parameters)
      .filter(function (key) {
        return Boolean(parameters[key]);
      })
      .map(function (key) {
        return (
          encodeURIComponent(key) + '=' + encodeURIComponent(parameters[key])
        );
      })
      .join('&');
  history.replaceState(null, null, newSearch);
}

// Defines a GraphQL fetcher using the fetch API. You're not required to
// use fetch, and could instead implement graphQLFetcher however you like,
// as long as it returns a Promise or Observable.
function graphQLFetcher(graphQLParams, opts = { headers: {} }) {

  let api = '{% get_setting "ADD_ONS_GRAPHQL_EDITOR_FETCHER_URL" %}';

  let headers = opts.headers;
  // Convert headers to an object.
  if (typeof headers === 'string') {
    headers = JSON.parse(opts.headers);
  }

  return fetch(api, {
    method: 'post',
    headers: Object.assign(
      {
        Accept: 'application/json',
        'Content-Type': 'application/json',
      },
      headers
    ),
    body: JSON.stringify(graphQLParams),
    credentials: 'omit',
  })
    .then(function (response) {
      return response.text();
    })
    .then(function (responseBody) {
      try {
        return JSON.parse(responseBody);
      } catch (error) {
        return responseBody;
      }
    });
}

// Render <GraphiQL /> into the body.
// See the README in the top level of this module to learn more about
// how you can customize GraphiQL by providing different values or
// additional child elements.
ReactDOM.render(
  React.createElement(GraphiQL, {
    fetcher: graphQLFetcher,
    query: parameters.query,
    variables: parameters.variables,
    headers: parameters.headers,
    operationName: parameters.operationName,
    onEditQuery: onEditQuery,
    onEditVariables: onEditVariables,
    onEditHeaders: onEditHeaders,
    defaultSecondaryEditorOpen: true,
    onEditOperationName: onEditOperationName,
    headerEditorEnabled: true,
  }),
  document.getElementById('graphiql'),
);

</script>
{% endblock %}


