{% extends "admin/change_form.html" %}
{% load static i18n %}

{% block after_related_objects %}
{% if static_map %}
    <fieldset class="module aligned">
        <h2>{% trans "Map" %}</h2>
        <div class="form-row">
            {{ static_map.html }}
        </div>
    </fieldset>
{% endif %}
{% endblock %}
