{% extends "admin/index.html" %}

{% load i18n static %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        {% if not app.hide_from_dashboard %}
            <div class="app-{{ app.app_label }} module">
            <table>
            <caption>
                <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                {% if app.help_text %}
                    <div class="help" style="text-transform: none; color: white; opacity: 0.5; margin-top: 4px; margin-right: 16px;">{{ app.help_text }}</div>
                {% endif %}
            </caption>
            {% for model in app.models %}
                {% if not model.hide_from_dashboard %}
                    <tr class="model-{{ model.object_name|lower }}">
                    {% if model.admin_url %}
                        <th scope="row">
                            {% comment %} <img style="float: left; height: 100%; margin-right: 12px; margin-bottom: 20px;" src="{% static 'authentication/img/people.svg' %}" /> {% endcomment %}
                            <a href="{{ model.admin_url }}">{{ model.name }}</a>
                            {% if model.help_text %}
                                <div class="help" style="font-weight: normal; margin-top: 2px;">{{ model.help_text }}</div>
                            {% endif %}
                        </th>
                    {% else %}
                        <th scope="row">{{ model.name }}</th>
                    {% endif %}

                    {% if model.add_url %}
                        <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}

                    {% if model.admin_url %}
                        {% if model.view_only %}
                        <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                        {% else %}
                        <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                        {% endif %}
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <p>{% trans 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module">
        <h2>{% trans 'More' %}</h2>
        <ul class="actionlist">
            <li class="linkLink">
                <a href="{% url 'all_objects' %}">{% trans 'View all FaST objects' %}</a>
            </li>
        </ul>
    </div>
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}