{% extends "admin/index.html" %}

{% load i18n static %}

{% block content %}
<div id="content-main">

{% if db_list %}
    
    {% for db_dict in db_list %}
    <div class="module">
    <table>
        <caption>
            {{ db_dict.db }}
        </caption>
        {% for model in db_dict.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row">
                    <a href="{{ model.admin_url }}">{{ model.object_name }}</a>
                    <div class="help" style="font-weight: normal; margin-top: 2px;">{{ model.name }}</div>
                </th>
            {% else %}
                <th scope="row">{{ model.object_name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                {% if model.view_only %}
                <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                {% else %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% endif %}
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>
    {% endfor %}
    
{% else %}
    <p>{% trans 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module">
        <h2>{% trans 'More' %}</h2>
        <ul class="actionlist">
            <li class="linkLink">
                <a href="{% url 'admin:index' %}">{% trans 'Back to FaST dashboard' %}</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}